body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(45deg, #ff69b4, #87ceeb); /* Degradê rosa e azul */
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #ff85c1, #add8e6); /* Degradê rosa claro e azul claro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho ao passar o mouse */
}

.hidden {
    display: none;
}

.loading-screen, .reveal-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #000; /* Fundo preto inicial */
    transition: background-color 3s ease;
}

.reveal-screen {
    background-color: #b30059; /* Rosa mais escuro */
}

.feto-image, .menina-image {
    max-width: 50%;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0%, 100% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
}

#story-display {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    max-width: 80%;
    text-align: center;
    opacity: 10;
    transition: opacity 1s ease;
}

#story-display.show {
    opacity: 1;
}

#message-display {
    font-size: 24px;
    line-height: 1.5;
    opacity: 10;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    text-align: center;
    color: #fff; /* Cor do texto */
}

#message-display.show {
    opacity: 1;
    transform: translateY(0);
}
